rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /{document=**} {
      allow read, update, delete, write, create: if false;
    }
    match /users/{userId} {
      allow read, update, delete, write: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    // Finish this rule
    match /servers/{document=**} {
      allow create, read, update, delete, write: if request.auth != null;
    }
  }
}