rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, update, delete, write, create: if false;
    }
    match /users/{userId}/banner/{allPaths=**} {
      allow update, delete, write, create: if request.auth != null && request.auth.uid == userId && request.resource.size < 15 * 2560 * 1440 && request.resource.contentType.matches('image/.*');
      allow read: if true;
    }
    match /users/{userId}/avatar/{allPaths=**} {
      allow update, delete, write, create: if request.auth != null && request.auth.uid == userId && request.resource.size < 15 * 2560 * 1440 && request.resource.contentType.matches('image/.*');
      allow read: if true;
    }
  }
}
